* {
  margin: 0;
  padding: 0;
  font-family: 'poppins';
}
body {
  height: 100vh;
  background: linear-gradient(to bottom right, #c462c0, #5129ad 70%);
}
h1 {
  letter-spacing: 3px;
  text-transform: uppercase;
  background: linear-gradient(to right, #02ebfc, #7bfa04 100%);
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 50px;
  font-size: 2rem;
  font-weight: 800;
  font-family: 'Josefin Sans', sans-serif;
  z-index: 1;
}
span {
  letter-spacing: 1px;
  font-size: 13px;
  margin-top: -10px;
  margin-left: 75px;
  font-weight: 200;
  z-index: 1;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-80%);
  transition: 00.2s;
}
.main:hover {
  box-shadow: 1px 50px 100px rgb(56, 55, 55);
  transition: 0.5s ease-in-out;
}
button {
  width: 80px;
  height: 70px;
  font-size: 20px;
  background-color: rgb(226, 211, 219);
  border: none;
}
button:hover {
  background-color: rgb(231, 231, 231);
  transition: 0.5s;
}
#inputLabel {
  height: 100px;
  vertical-align: bottom;
  font-size: 20px;
  text-align: end;
  padding: 15px;
  text-overflow: inherit;
  background-color: rgb(163, 106, 106);
}
td {
  border: none;
}
table {
  width: 100%;
  border: none;
  box-shadow: none;
}
.high {
  color: rgb(58, 172, 5);
}
section {
  min-height: 100vh;
}
.footer {
  display: flex;
  position: sticky;
  top: 100%;
  flex-direction: column;
  background: linear-gradient(to right, #71f182, #ff0606);
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer_heading {
  font-size: 2rem;
  letter-spacing: 5px;
  margin-bottom: 15px;
  text-shadow: #0d0d0e;
}
.container {
  text-align: center;
  justify-content: center;
}
.quick_links {
  text-align: center;
}
.copyright {
  font-size: 10px;
  margin-top: 15px;
}
.socials {
  margin-top: 25px;
}
p {
  margin-top: 15px;
}
li {
  padding: 5px 25px;
}
ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
a {
  text-decoration: none;
  margin: 6px;
  font-size: 20px;
  color: #8a8a8a;
}
a:hover {
  transition: 0.5s;
  color: #ffffff;
}
